.mainGrid{
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: auto; */
    grid-template-areas: 
    "header header header"
    "sidebar contentGrid contentGrid" 
    "sidebar contentGrid contentGrid"
    "footer footer footer"
    ;
}

.header{
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
}

.contentGrid{
    grid-area: contentGrid;
}

.footer{
    grid-area: footer;
}

.contentGrid{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;

}

#one{
    background-image: url('../images/industrial-robotic-arm.jpg');
    background-size: contain;
}

#two{
    background-image: url('../images/cruise_self_driving_car.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

#three{
    background-image: url('../images/DJI-drone.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

#four{
    background-image: url('../images/ROV.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

/* .mainGrid div:nth-child(even){
    background-color: red;
}

.mainGrid div:nth-child(odd){
    background-color: green;
} */
/* .container {
    display: grid;
    grid-template-columns: 300px 300px;;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "hd" 
    "sd" 
    "main" 
    "ft";
}



#nestedGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}

.photoBox{
    grid-area: ft;
    width: 350px;
    height: 150px;
    border: solid red;
    background: yellow;
  
  } */


/* .box {
    border: 1px solid red;
    background: #F8FA9D;
} */

/* .header {

    grid-area: hd;
}

.footer {
    grid-area: ft;
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;
} */

/* If Screen Is Wide Enough */

/* @media(min-width:600px) {
    .container {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 250px 600px;
        grid-template-areas: "hd hd hd hd hd hd hd hd" "sd sd main main main main main main" "ft ft ft ft ft ft ft ft";
        border: 2px solid red;
    }
} */