.mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    /* grid-template-rows: auto; */
    grid-template-areas: 
    "header header header"
    "sidebar contentGrid contentGrid" 
    "sidebar contentGrid contentGrid"
    "footer footer footer"
    ;
}

.header{
    grid-area: header;
    position: relative;
    z-index: 1;

}

.bg{
    position: absolute;
    grid-area: header;
    background-image: url(../images/mech_stuff.jpg);
    opacity: 0.4;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar{
    grid-area: sidebar;
    /* padding-top: 10px; */
    /* margin-top: 10; */
    /* background-color: blue; */
}

.footer{
    grid-area: footer;
}

.contentGrid{
    /* background-color: blueviolet; */
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    /* grid-template-rows: 1fr 1fr; */
}

.flexContainer{
    display: flex;
    flex-direction: column;
    width: 250px;
    /* height: 500px; */
    border: 5px solid black;
}

#oneName{
    align-self: center;
    /* align-items: center; */
    /* background-color: red; */
    margin: 10px;
    /* border-radius: 50px; */
}

#one{
    background: transparent url('../images/3industrial-robotic-arm.jpg');
    background-size: contain;
    min-height: 200px;
    background-repeat: no-repeat;
    border: 5px solid purple;
    margin: 10px;
    background-position: center;
    /* background-color: purple; */
    border-radius: 80px;
}

#twoName{
    align-self: center;
    /* align-items: center; */
    /* background-color: red; */
    margin: 10px;
    /* border-radius: 50px; */
}

#two{
    background: transparent url('../images/2drone.jpg');
    background-size: contain;
    min-height: 200px;
    background-repeat: no-repeat;
    border: 5px solid purple;
    margin: 10px;
    background-position: center;
    /* background-color: purple; */
    border-radius: 80px;
}

#threeName{
    align-self: center;
    /* align-items: center; */
    /* background-color: red; */
    margin: 10px;
    /* border-radius: 50px; */
}

#three{
    background: transparent url('../images/2drone.jpg');
    background-size: contain;
    min-height: 200px;
    background-repeat: no-repeat;
    border: 5px solid purple;
    margin: 10px;
    background-position: center;
    /* background-color: purple; */
    border-radius: 80px;
}

#fourName{
    align-self: center;
    /* align-items: center; */
    /* background-color: red; */
    margin: 10px;
    /* border-radius: 50px; */
}

#four{
    background: transparent url('../images/2drone.jpg');
    background-size: contain;
    min-height: 200px;
    background-repeat: no-repeat;
    border: 5px solid purple;
    margin: 10px;
    background-position: center;
    /* background-color: purple; */
    border-radius: 80px;
}